variables:
  INFRA_PROJECT_PATH: mak/diploma
  INFRA_ARTIFACT_SOURCE_JOB: cluster-deploy
  INFRA_CNT_IMAGE: "${CI_REGISTRY}/${INFRA_PROJECT_PATH}/infra-container"
  APP_NAME: testapp

stages:
  - build
  - test
  - deploy

build-docker-image:
  image: docker:stable
  stage: build
  services:
    - docker:dind
  before_script: &before_script
    - INFRA_PROJECT_API="${CI_API_V4_URL}/projects/$(echo $INFRA_PROJECT_PATH |sed -e 's|/|%2F|g')/jobs/artifacts/master/download"
    - echo $INFRA_PROJECT_API
    - wget --header "JOB-TOKEN:$CI_JOB_TOKEN" ${INFRA_PROJECT_API}?job=${INFRA_ARTIFACT_SOURCE_JOB} -O .artifacts.zip
    - unzip .artifacts.zip && rm -f .artifacts.zip
    - chmod 0600 admin-*.conf infra-info.yaml
    - export CONTAINER_REGISTRY=$(grep '^container_registry:' infra-info.yaml |cut -f2 -d' ')
    - export DOCKER_REGISTRY_KEY=$(grep '^docker_registry_agent_key:' infra-info.yaml |cut -f2 -d' ' |base64 -d | tr "'" '"')
    - export DEPLOY_ENV=$(grep '^deploy_env:' infra-info.yaml |cut -f2 -d' ')
  script:
    - cd ${APP_NAME}/docker
    - docker build --pull -t ${CONTAINER_REGISTRY}/${APP_NAME}:latest ./
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        for TAG in ${CI_COMMIT_TAG} stable; do
          docker tag ${CONTAINER_REGISTRY}/${APP_NAME}:latest ${CONTAINER_REGISTRY}/${APP_NAME}:${TAG}
        done
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == 'pipeline'
      when: never

test-docker-image:
  image: docker:stable
  stage: test
  services:
    - docker:dind
  before_script: *before_script
  script:
    - docker run --name test_build --rm -d -p 18080:80 ${CONTAINER_REGISTRY}/${APP_NAME}:latest
    - sleep 5s
    - wget -q docker:18080 -O - |grep 'Default index'
  after_script:
    - docker kill test_build
  dependencies:
    - build-docker-image
  rules:
    - if: $CI_PIPELINE_SOURCE == 'pipeline'
      when: never
    - when: on_success

push-docker-image:
  image: docker:stable
  stage: deploy
  services:
    - docker:dind
  before_script: *before_script
  script:
    - echo $CI_PIPELINE_SOURCE
    - echo "$DOCKER_REGISTRY_KEY" |docker login -u json_key --password-stdin cr.yandex
    - docker push ${CONTAINER_REGISTRY}/${APP_NAME}:latest
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        for TAG in ${CI_COMMIT_TAG} stable; do
          docker push ${CONTAINER_REGISTRY}/${APP_NAME}:${TAG}
        done
      elif [ "$CI_PIPELINE_SOURCE" = "pipeline" -a "$DEPLOY_ENV" = "prod" ]; then
          docker push ${CONTAINER_REGISTRY}/${APP_NAME}:stable
      fi
  dependencies:
    - build-docker-image
    - test-docker-image





#  rules:
#    - changes:
#        - infra-container/*
#    - if: $BUILD_IMG == "1"
#    - if: $RUN_TESTS == "1" || $RUN_DEPLOY == "1" || $RUN_TERRAFORM == "1" || $RUN_ANSIBLE == "1"
#      when: never
#    - when: never
#
