variables:
  #CI_PROJECT_PATH
  INFRA_PROJECT_PATH: mak/diploma
  INFRA_CNT_IMAGE: "${CI_REGISTRY}/${INFRA_PROJECT_PATH}/infra-container"
build-infra-image:
  #image: $INFRA_CNT_IMAGE
  image: docker:stable
  stage: build
  services:
    - docker:dind
#  before_script:
#    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - sleep 1h || true
#  rules:
#    - changes:
#        - infra-container/*
#    - if: $BUILD_IMG == "1"
#    - if: $RUN_TESTS == "1" || $RUN_DEPLOY == "1" || $RUN_TERRAFORM == "1" || $RUN_ANSIBLE == "1"
#      when: never
#    - when: never
#
